@import "tailwindcss";

/* Home - Hero Section */
.hero-section {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.08), rgba(255, 255, 255, 0.257)), url('/src/assets/images/cover.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}